.navBar {
  background-color: rgb(250,250,250);
  height: 9vh;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: rgb(250,250,250);
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:.5rem;
  padding-left: .5rem;
}

.button {
  height: 6vh;
  width: 14vw;
}

.notification {
  height: 7vh;
}

.camera {
  height: 5vh;
  align-self: center;
  margin-left: .5rem;
  padding-top: 1rem;
}

.logo {
  width: 30vw;
  height: 6vh;
  align-self: center;
  margin-left: 1.5rem;
  padding-top: 1rem;
}

.messages {
  width: 23vw;
  height: 6vh;
  align-self: center;
  margin-right: .5rem;
  padding-top: 1rem;
}

.picture {
  width: 100vw;
  height: 50vh;
}