.userImgProfPage {
    width: 24vw;
    height: auto;
    border-radius: 3rem;
    margin-right: .7rem;
    margin-left: .5rem;
}

.profHead {
	display: flex;
	height: ;
}

.profilePic {
	width: 32.8vw;
  	height: 16vh;
  	border-right: .05rem white solid;
  	border-left: .05rem white solid;
}

.profilePicGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}