@font-face {
  font-family: 'font medium';
  src: url('../font/Metropolis-Medium.otf') format('opentype');
}

.userImgProfPage {
    width: 24vw;
    height: auto;
    border-radius: 3rem;
    margin-right: .7rem;
    margin-left: .5rem;
}

.profHead {
	display: flex;
	height: 13vh;
  align-items: center;
  justify-content: 
}

.top {
  height: 22vh;
  padding-top: .7rem;
}

.profilePic {
	width: 32.8vw;
  	height: 16vh;
  	border-right: .05rem white solid;
  	border-left: .05rem white solid;
}

.edit{
  text-decoration: none;
  text-align: center;
  width: 60vw;
}

.editThis{
  border: .05rem gainsboro solid;
  color: black;
  padding: .3rem;
  border-radius: .2rem;
  font-size: .8rem;
  margin-left: 1rem;
}

.name {
  margin-top: 1rem;
  padding-left: .8rem;
  font-size: .8rem;
  font-family: font medium;

}

.bio {
  margin-top: .2rem;
  padding-left: .8rem;
  font-size: .8rem
}


.profilePicGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}